:root{
    --font-color: #484242;
    --sidebar-color: #d1c333;
}

@font-face{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: "regular";
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100dvh;
}

nav{
    background-color: #fffcde;
    position: fixed;
    top: 0;
    width: clamp(250px, 20vw, 350px);
    p{
        font-size: 1.5rem;
    }
}

h1{
    font-size: 2rem;
}

.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
}

/* .sidebar button{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 8px 4px;
} */

.sidebar li{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    cursor: pointer;
    > svg{
        padding-bottom: 3px;
    }
    button{
        all: unset;
    }
}

.upper-sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 0;
}

.sidebar-links > li,
.createProject{
    padding: 8px 8px;
}

.sidebar-links > li:hover, 
.sidebar button:hover,
.createProject:hover{
    background-color: #fdf9c6;
}

.lower-sidebar{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.projects{
    display: grid;
    gap: 0.5rem;
}

h1, h2, p, li, span, button{
    color: var(--font-color);
    font-family: "Josefin Sans", sans-serif;
}

.wrapper{
    padding-left: clamp(250px, 20vw, 350px);
}


.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.title-bar > button{
    background: none;
    border: none;
    cursor: pointer;
}

.title-bar > button:hover{
    color: var(--sidebar-color);
}

.main-content{
    padding: 3rem 0 1rem 0;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.task-item-data{
  display: grid;
  gap: 0.8rem;  
}

.task-item{
    padding: 1rem 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.task-title{
    font-size: 1.2rem;
}

.task-item:last-child{
    border: none;
}

.task-item > div{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.task-description, .due-data > span{
    font-size: 1rem;
}

.delete-task{
    width: 22px;
    height: 22px;
    background-color: #ccc;
    border: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.delete-task:hover{
    border: 2px solid #5e5e5e;
}



.addTaskForm{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 8px;
    border: 1px solid black;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 24px;
}

.addTaskForm option,
.addTaskForm select {
    background-color: white;
}

.addTaskForm select:focus{
    outline:none
}

input, textarea, select{
    padding: 8px;
    border: 1px solid black;
}

.addTaskForm > *{
    display: block;
}

.addTaskForm button{
    padding: 8px 16px;
    background-color: #fffcde;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.addTaskForm .buttons{
    display: flex;
    justify-content: space-between;
}

.addTaskForm input, 
.addTaskForm input::placeholder,
.addTaskForm textarea,
.addTaskForm textarea::placeholder,
.addTaskForm select,
.addTaskForm option{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
}

.project{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.project-meta{
    display: flex;
    margin-left: auto;
}

.project-settings{
    display: none;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: opacity 0.1s ease;
}

.project-settings:hover{
    background-color: #f1ebba;
}


.project:hover .total-tasks {
    opacity: 0;
  }

.project:hover .project-settings {
    display: inline-flex;
  }


.project-menu{
    display: flex;
    font-size: 1rem;
    border: 0.5px solid #cccccc;
    gap: 4px;
    flex-direction: column;
    position: absolute;
    padding: 0.3rem;
    background-color: #fffbcf;
    top: -50px;
    right: 0;
    cursor: pointer;
}
  
input[type="date"] {
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

#overlay.show{
    position: fixed;
    z-index: 9;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}